.tile
  .port-item-header
    img(ng-show='item.imageURL' ng-src='{{ item.imageURL }}')

    .port-item-title
      h1 {{ item.title }}
      .port-item-summary {{ item.summary }}

  include ../divider

  .port-item-info
    p {{ item.body }}
