.port-item-container
  .port-item-header
    img(ng-src='{{ item.image }}')

    .port-item-title
      h1 {{ item.title }}
      .port-item-summary {{ item.summary }}

  include ../divider

  .port-item-info
    p {{ item.body }}
