div(class='portfolio-item-container')
  div(class='portfolio-item portfolio-item-img')
    img(ng-src='{{ item.image }}')

  div(class='portfolio-item portfolio-item-info')
    h1 {{ item.title }}
    include ../divider
    p {{ item.body }}
