ul(ng-show='isLoggedIn()' class='nav navbar-nav blog-nav-items')
  li
    a(ui-sref='postCreate') Create Post
  li
    a(ui-sref='settings') Settings
  li
    a(ui-sref='home' ng-click='logOut()') Log Out
