//- Bootstrap
link(href='bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')

-
  scripts = [
    //- Angular
    'angular/angular.min.js',

    //- ui.router
    'angular-ui-router/release/angular-ui-router.min.js',

    //- ui.tinymce
    'tinymce/tinymce.js',
    'angular-ui-tinymce/src/tinymce.js',

    //- JQuery
    'jquery/dist/jquery.min.js',

    //- Smooth scrolling
    'gsap/src/minified/TweenMax.min.js',
    'gsap/src/minified/plugins/ScrollToPlugin.min.js',

    //- Angular MD5 implementation.
    'angular-md5/angular-md5.min.js'
  ];

each script in scripts
  script(src=script)
