//- Bootstrap
link(href='bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')

-
  scripts = [
    //- Angular
    'angular/angular.min.js',

    //- ui.router
    'angular-ui-router/release/angular-ui-router.min.js',

    //- ui.tinymce
    'tinymce/tinymce.js',
    'angular-ui-tinymce/src/tinymce.js',
  ];

each script in scripts
  script(src=script)
