extends layout

block content
  include navigation
  include partials/header/image

  div(class='row')
    div(class='col-md-8 col-md-offset-2')
      include partials/header/title
      div(ui-view)
