doctype html

html
  head
    title= title
    base(href='/')
    link(href='lib/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='res/css/style.css' rel='stylesheet')

  body(id='app')
    block content
    script(src='lib/requirejs/require.js' data-main='app/main')
