doctype html
html
  head
    title= title
    base(href='/')
    link(href='bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='stylesheets/style.css' rel='stylesheet')

  body(id='app')
    block content
    script(src='requirejs/require.js' data-main='javascripts/main')
