nav(
  class='navbar navbar-inverse blog-nav'
  role='navigation'
  ng-controller='navigation'
)
  div(class='row')
    div(class='col-md-8 col-md-offset-2')
      ul(class='nav navbar-nav blog-nav-items')
        li
          a(ui-sref='home') Home
        li
          a(ng-show='isLoggedIn()' ui-sref='createPost') Create Post
        li
          a(ng-show='isLoggedIn()' ui-sref='home' ng-click='logOut()') Log Out
