script(src='javascripts/app.js')
script(src='javascripts/services/posts.js')
script(src='javascripts/controllers/home.js')
script(src='javascripts/controllers/editPost.js')
script(src='javascripts/controllers/deletePost.js')
script(src='javascripts/controllers/createPost.js')
script(src='javascripts/controllers/admin.js')
