-
  scripts = [
    'smoothScroll.js',

    // Angular app scripts.
    'app.js',
    'services/posts.js',
    'services/admin.js',
    'controllers/NavigationCtrl.js',
    'controllers/HomeCtrl.js',
    'controllers/LoginCtrl.js',
    'controllers/BioCtrl.js',
    'controllers/post/CreateCtrl.js',
    'controllers/post/ReadCtrl.js',
    'controllers/post/UpdateCtrl.js',
    'controllers/post/DeleteCtrl.js',
    'controllers/post/FormCtrl.js',
    'controllers/post/BodyCtrl.js',
    'controllers/post/EditorCtrl.js',
    'controllers/settings/helpers/submitFunc.js',
    'controllers/settings/BioCtrl.js',
    'controllers/settings/EmailCtrl.js',
    'controllers/settings/PasswordCtrl.js',
    'controllers/settings/bio/TinyMceCtrl.js',
  ];

each script in scripts
  script(src='javascripts/' + script)
