-
  scripts = [
    'smoothScroll.js',

    // Angular app scripts.
    'app.js',
    'services/posts.js',
    'services/admin.js',
    'controllers/navigation.js',
    'controllers/home.js',
    'controllers/admin.js',
    'controllers/settings.js',
    'controllers/post/create.js',
    'controllers/post/read.js',
    'controllers/post/update.js',
    'controllers/post/delete.js',
    'controllers/post/form.js',
    'controllers/post/body.js',
    'controllers/post/editor.js',
  ];

each script in scripts
  script(src='javascripts/' + script)
