.navbar,
.input-field,
.btn,
.alert {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
       -o-border-radius: 0px;
          border-radius: 0px;
}

.input-field:focus,
.switcher,
.btn,
.btn:focus,
.tile {
  background-color: white;
}

.portfolio-links a img {
  height: 60px;
}

.admin-image,
.resource-header img {
  width: 128px;
  height: 128px;
}

.header-image {
  width: 100%;
  position: absolute;
  top: 54px;
  overflow: hidden;
}

.header-image img {
  width: 100%;
}

.header-image,
.header-title {
  height: 350px;
}

.header-title {
  margin-bottom: 30px;
  padding-top: 110px;
}

.header-title h1 {
  color: white;
  text-align: center;
  text-shadow: 0px 2px 5px rgb(9, 32, 46);
  font-size: 90px;
}

.post-date,
.resource-summary {
  color: #999;
}

.post-date {
  font-size: 16px;
}

.post-preview {
  max-height: 200px;
  min-height: 140px;
}

.post-preview {
  position: relative;
  overflow-y: hidden;
}

.fadeout,
.post-image,
.alert,
.divider,
.tile {
  width: 100%;
}

.fadeout {
  position: absolute;
  top: 60px;
  height: 140px;
  background: -webkit-linear-gradient(transparent 0%, white 100%);
  background:    -moz-linear-gradient(transparent 0%, white 100%);
  background:      -o-linear-gradient(transparent 0%, white 100%);
  background:         linear-gradient(transparent 0%, white 100%);
}

.content-body,
.input-field,
.mce-content-body,
p,
.blog-nav-items li,
.switcher,
.btn,
.alert span {
  font-size: 18px;
}

p, ul, ol {
  margin-bottom: 24px;
}

.switcher,
.short-input {
  width: 50%;
}

.switcher,
.btn,
.btn:focus {
  text-decoration: none;
  padding: 4px 24px 4px 24px;
  outline: none !important;
}

.switcher,
.btn,
.btn:focus,
.blog-nav-items li a,
.header-title h1 {
  color: white !important;
  font-family: "Droid Sans", sans-serif;
}

.blog-nav-items li {
  border-width: 2px 0px;
  border-style: solid;
  border-color: transparent;

}

.blog-nav-items li:hover {
  border-bottom-color: #298FCC;
}

.switcher,
.btn {
  height: 40px;
}

.blog-nav,
.switcher,
.btn,
.btn:focus {
  background-color: rgb(9, 32, 46);
}

.input-field {
  border-width: 2px;
}

.switcher/*,
.btn,
.input-field,
.blog-nav-items li*/ {
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;

  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;

  -webkit-transition-property: background-color;
     -moz-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
}

.btn:hover,
.switcher-selected,
.blog-nav-items li:hover {
  background-color: #30A9F2 !important;
}

.btn,
.portfolio-links a img {
  margin-right: 10px;
}

.alert {
  display: table;
  padding: 10px 10px 10px 15px;
}

.alert-btns {
  display: table-cell;
  text-align: right;
}

.input-field,
.tinymce-bottom-margin,
.alert,
.post-date,
.post-image,
.post-preview,
.divider,
.admin-image,
.portfolio-links a img {
  margin-bottom: 10px;
}

body[id='app'],
.input-field {
  background-color: #EEE;
}

.input-field,
.input-field:focus {
  border-color: #EEE;
}

.switcher,
.input-field,
.input-field:focus,
.btn,
.btn:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}

.blog-nav,
.alert,
.switcher,
.btn,
.btn:focus {
  border: none;
}

.resource-header img {
  float: left;
  margin-right: 20px;
}

.blog-nav {
  margin-bottom: 0;
}

.tile {
  margin-bottom: 30px;
}

.tile {
  padding: 20px;
}

.resource-header {
  height: 140px;
}

.resource-title h1 {
  font-size: 70px;
}

.resource-summary {
  font-size: 22px;
  font-style: italic;
}

.divider {
  border-bottom: solid 2px #DDD;
}

.disqus {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body,
.post-edit-reason {
  color: #444 !important;
}

html, body {
  overflow-x: hidden;
}
