div(class='alert alert-danger')
  p(class='warning') Are you sure you want to delete this post?
  div(class='alert-btns')
    button(class='btn right-btn' ng-click='deletePost()') Yes
    button(class='btn right-btn' ng-click='cancel()') No thanks

include full
