.navbar {
  border-radius: 0;
}

.post {
  margin-bottom: 50px;
}

.post-date {
  color: #999;
  font-size: 16px;
}

.post-preview {
  max-height: 200px;
  min-height: 140px;
  overflow-y: hidden;
  position: relative;
}

.fadeout {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 140px;
  background: -webkit-linear-gradient(transparent 0%, white 100%);
  background:    -moz-linear-gradient(transparent 0%, white 100%);
  background:      -o-linear-gradient(transparent 0%, white 100%);
  background:         linear-gradient(transparent 0%, white 100%);
}

.post-body,
.input-field,
.mce-content-body {
  font-size: 18px;
}

.post-image {
  border-radius: 5px;
  width: 100%;
}

.post-body p,
.post-image,
.post-preview {
  margin-bottom: 20px;
}

.post-body p,
.mce-content-body p {
  text-indent: 1cm;
}

.btn {
  -webkit-border-radius: 0px 10px;
     -moz-border-radius: 0px 10px;
       -o-border-radius: 0px 10px;
          border-radius: 0px 10px;

  background: white;
  color: #0B9927;
  text-decoration: none;
  font-size: 20px;
  padding: 4px 24px 4px 24px;
  border: solid #0B9927 2px;

  -webkit-transition-property: background, color;
     -moz-transition-property: background, color;
       -o-transition-property: background, color;
          transition-property: background, color;

  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;

  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.btn:hover {
  background: #0B9927;
  color: #fff;
}

.left-btn {
  margin-right: 10px;
}

.right-btn {
  margin-left: 10px;
}

.alert {
  width: 100%;
  display: table;
  padding: 10px 10px 10px 15px;

  -webkit-border-radius: 0px 16px;
     -moz-border-radius: 0px 16px;
       -o-border-radius: 0px 16px;
          border-radius: 0px 16px;
}

.warning {
  display: table-cell;
  font-size: 20px;
}

.alert-btns {
  display: table-cell;
  text-align: right;
}

.input-field,
.tinymce-bottom-margin,
.post-date,
.alert {
  margin-bottom: 10px;
}

.input-field {
  border-width: 2px;
  border-color: #EEE;
  background: #EEE;

  -webkit-transition-property: background;
     -moz-transition-property: background;
       -o-transition-property: background;
          transition-property: background;

  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;

  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
       -o-border-radius: 0px;
          border-radius: 0px;

  -webkit-box-shadow: 0 0 0 #000;
     -moz-box-shadow: 0 0 0 #000;
       -o-box-shadow: 0 0 0 #000;
          box-shadow: 0 0 0 #000;
}

.input-field:focus {
  border-color: #EEE;
  background: #FFF;

  -webkit-box-shadow: 0 0 0 #000;
     -moz-box-shadow: 0 0 0 #000;
       -o-box-shadow: 0 0 0 #000;
          box-shadow: 0 0 0 #000;
}

.admin-input {
  max-width: 400px;
}

.blog-nav,
.alert {
  border: none;
}

.blog-nav {
  background: #444;
  box-shadow: 0px 5px 10px #aaa;
  margin-left: -5px;
  margin-right: -5px;
}

.blog-nav-items li a {
  color: white !important;
  font-size: 18px;
}

.blog-nav-items li {
  border-bottom: 2px solid transparent;

  -webkit-transition-property: border-bottom, box-shadow;
     -moz-transition-property: border-bottom, box-shadow;
       -o-transition-property: border-bottom, box-shadow;
          transition-property: border-bottom, box-shadow;

  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;

  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.blog-nav-items li:hover {
  border-bottom: 2px solid #0FCC35;
  box-shadow: inset 0 -10px 10px -10px #0FCC35;
}

#top-image {
  max-width: 100%;
}

body {
  color: #444;
}

html, body {
  overflow-x: hidden;
}
