.navbar,
.input-field,
.btn,
.alert {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
       -o-border-radius: 0px;
          border-radius: 0px;
}

.input-field:focus,
.switcher,
.btn,
.btn:focus,
.tile,
.blog-nav {
  background-color: white;
}

.post-date {
  color: #999;
  font-size: 16px;
}

.post-preview {
  max-height: 200px;
  min-height: 140px;
}

.post-preview {
  position: relative;
  overflow-y: hidden;
}

.fadeout,
.post-image,
.admin-image,
.alert,
.divider {
  width: 100%;
}

.post-image,
.admin-image {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;

  width: -webkit-calc(100% + 20px);
  width:    -moz-calc(100% + 20px);
  width:      -o-calc(100% + 20px);
  width:         calc(100% + 20px);
}

.fadeout {
  position: absolute;
  top: 60px;
  height: 140px;
  background: -webkit-linear-gradient(transparent 0%, white 100%);
  background:    -moz-linear-gradient(transparent 0%, white 100%);
  background:      -o-linear-gradient(transparent 0%, white 100%);
  background:         linear-gradient(transparent 0%, white 100%);
}

.post-body,
.input-field,
.mce-content-body,
p,
.blog-nav-items li a,
.switcher,
.btn,
.alert span {
  font-size: 18px;
}

p, ul, ol {
  margin-bottom: 24px;
}

.switcher,
.short-input {
  width: 50%;
}

.switcher,
.btn,
.btn:focus {
  text-decoration: none;
  padding: 4px 24px 4px 24px;
  color: white !important;
  background-color: #444;
  outline: none !important;
}

.input-field {
  border-width: 2px;
}

.switcher,
.btn,
.input-field,
.blog-nav-items li {
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;

  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.btn:hover,
.switcher-selected {
  background-color: #0B9927 !important;
}

.left-btn {
  margin-right: 10px;
}

.right-btn {
  margin-left: 10px;
}

.alert {
  display: table;
  padding: 10px 10px 10px 15px;
}

.alert-btns {
  display: table-cell;
  text-align: right;
}

.input-field,
.tinymce-bottom-margin,
.post-date,
.alert,
#switcher-container,
.tile,
.post-image,
.post-preview,
.divider,
.admin-image {
  margin-bottom: 10px;
}

body[id='app'],
.input-field {
  background-color: #EEE;
}

.input-field,
.input-field:focus {
  border-color: #EEE;
}

.switcher,
.btn,
.btn:focus,
.input-field {
  -webkit-transition-property: background-color;
     -moz-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
}

.switcher,
.input-field,
.input-field:focus,
.btn,
.btn:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}

.blog-nav,
.alert,
.switcher,
.btn,
.btn:focus {
  border: none;
}

.blog-nav {
  box-shadow: 0px 1px 14px #666;
  margin-left: -5px;
  margin-right: -5px;
}

.blog-nav-items li a {
  padding-bottom: 12px; /* To account for the 3px bottom border */
}

.blog-nav-items li {
  border-bottom: 3px solid transparent;

  -webkit-transition-property: border-bottom-color;
     -moz-transition-property: border-bottom-color;
       -o-transition-property: border-bottom-color;
          transition-property: border-bottom-color;
}

.blog-nav-items li:hover {
  border-bottom-color: #0EBF32;
}

.tile {
  padding: 10px;
}

.tile,
.alert {
  -webkit-box-shadow: 0 1px 5px #aaa;
     -moz-box-shadow: 0 1px 5px #aaa;
       -o-box-shadow: 0 1px 5px #aaa;
          box-shadow: 0 1px 5px #aaa;
}

.col-md-8,
.col-md-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.divider {
  border-bottom: solid 1px #DDD;
}

.disqus {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body,
.blog-nav-items li a,
.post-edit-reason {
  color: #444 !important;
}

html, body {
  overflow-x: hidden;
}
