extends ../../form

block inputs
  include ../../tinymce
  mixin tinymce('bio.content', 'settings.bio.TinyMceCtrl')

  input(
    class='form-control input-field short-input'
    ng-model='bio.password'
    placeholder='Password'
    type='password'
  )
