ul(
  ng-cloak
  ng-show='navigation.isLoggedIn()'
  class='nav navbar-nav blog-nav-items'
)
  li
    a(ui-sref='portfolioItemCreate') Add To Portfolio
  //- li
  //-   a(ui-sref='postCreate') Create Post
  li
    a(ui-sref='settings') Settings
  li
    a(ui-sref='about' ng-click='navigation.logOut()') Log Out
