.contacts
  a(href='mailto:joelallen720@gmail.com' target='_blank')
    img(src='res/images/gmail.png')

  a(href='https://github.com/jallen720' target='_blank')
    img(id='github-link' src='res/images/github.png')
