span(ng-show='isLoggedIn()')
  include ../../divider

  button(
    class='btn'
    ng-click='portfolioItemAction("Update", resource._id)'
  ) Update

  button(
    class='btn'
    ng-click='portfolioItemAction("Delete", resource._id)'
  ) Delete
