.tile
  div(class='alert alert-danger')
    span Are you sure you want to delete this portfolio item?

  button(class='btn' ng-click='deletePortfolioItem()') Yes
  button(class='btn' ng-click='cancel()') No Thanks
